.about {
  width: 100vw;
}

.about-info {
  background-color: #28a745;
  padding: 79px 15px;
  @include tab {
    width: 400px;
  }
  @include desk {
    width: 690px;
  }
}

.about-container {
  @include tab {
    height: 589px;
    display: flex;
    flex-direction: row;
  }
  @include desk {
    height: 460px;
  }
}

.about-image-container {
  @include tab {
    width: 368px;
    height: 100%;
    overflow: hidden;
  }
  @include desk {
    width: 670px;
    height: 460px;
  }
}

.about-image {
  @include tab {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about-pre-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 16px;
}

.about-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 24px;
  width: 280px;
  @include tab {
    width: 236px;
    font-size: 40px;
    line-height: 48px;
  }
  @include desk {
    width: 562px;
  }
}

.about-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 0;
  margin-bottom: 24px;
  width: 280px;
  @include tab {
    width: 336px;
    font-size: 18px;
    line-height: 25px;
  }
  @include desk {
    width: 642px;
  }
}

.about-btn {
  width: 175px;
  height: 57px;
  background: #28a745;
  border-radius: 5px;
  border-color: #ffffff;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  &:hover {
    background: #f4f4f4;
    border-radius: 5px;
    color: #28a745;
    border-color: #28a745;
  }
}
