.blog {
  background-color: #0284d0;
  height: 466px;
  padding: 48px 15px;
}

.blog-image {
  width: 100vw;
}

.blog-pre-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 16px;
}

.blog-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 24px;
}

.blog-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 24px;
}

.blog-btn {
  width: 186px;
  height: 57px;
  border-radius: 5px;
  border-color: #ffffff;
  background-color: transparent;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
