.contact-text-container {
  padding: 72px 0px 50px 0px;
}

.contact-pre-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-bottom: 16px;
}

.contact-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #333333;
  margin-bottom: 24px;
}

.contact-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-bottom: 63px;
}

.contact-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'photo1'
    'text1'
    'photo2'
    'text2'
    'photo3'
    'text3';
  justify-content: center;
  align-items: center;
}

.photo1 {
  grid-area: photo1;
}

.text1 {
  grid-area: text1;
  margin: 0 auto;
}

.photo2 {
  grid-area: photo2;
}

.text2 {
  grid-area: text2;
  margin: 0 auto;
}

.photo3 {
  grid-area: photo3;
}

.text3 {
  grid-area: text3;
  margin: 0 auto;
}

.team-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #333333;
  margin-bottom: 8px;
}

.team-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.contact-form-container {
  background-color: #f4f4f4;
  padding: 51px 15px 25px 15px;
}

.form-container {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #333333;
  margin-bottom: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 280px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 16px 8px;
}

.form-btn {
  width: 155px;
  height: 57px;
  background: #28a745;
  border-radius: 5px;
  margin-top: 24px;
}
