.team-container {
  padding: 0 20px;
  @include tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.team-card {
  width: 280px;
  @include tab {
    width: 223px;
  }
  @include desk {
    width: 420px;
  }
}

.team-text-container {
  padding: 72px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tab {
    padding-bottom: 24px;
  }
}

.team-pre-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-bottom: 16px;
  @include tab {
    font-size: 20px;
    line-height: 33px;
  }
}

.team-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #333333;
  margin-bottom: 24px;
  width: 280px;
  @include tab {
    font-size: 40px;
    line-height: 54px;
    width: 428px;
  }
}

.team-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  width: 280px;
  @include tab {
    font-size: 18px;
    line-height: 25px;
    width: 640px;
  }
}

.text-container {
  padding: 16px 0px 30px 0px;
}

.photo {
  position: relative;
  width: 280px;
  @include tab {
    width: 223px;
  }
  @include desk {
    width: 420px;
  }
}

.photo:hover .overlay {
  opacity: 0.7;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-out;
  object-fit: contain;
  @include tab {
    max-width: 223px;
  }
  @include desk {
    max-width: 420px;
  }
}

.image:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.icon {
  margin-right: 16px;
  &:hover {
    opacity: 0.6;
  }
}

.team-person-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #333333;
  margin-bottom: 8px;
  @include tab {
    font-size: 32px;
    line-height: 32px;
  }
}

.team-person-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  @include tab {
    font-size: 18px;
    line-height: 25px;
  }
}
