:root {
  $main-white-text-color: #ffffff;
  $main-black-text-color: #333333;
  $second-text-color: #808080;
  $background-color-blue: #0284d0;
  $background-color-black: #333333;
  $background-color-green: #28a745;
  $background-color-grey: #f4f4f4;
  $color-btn-green: #28a745;
  $color-active-btn-green: #2ebf4f;
  $color-btn-grey: #b3b3b3;
  $color-active-btn-grey: #f4f4f4;
  $color-btn-text-green: #28a745;
  $color-btn-text-blue: #0284d0;
  $accent-color: #28a745;
}
